<ion-header>
  <ion-toolbar>
    <ion-title>BoutJ's Layf App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <img src="/assets/images2.jpg" />
  <ion-card-header>
    <ion-card-title>Bachelor of Science in Information Technology, Major in Service Management</ion-card-title>
    <ion-card-subtitle>JERICK CATAPANG UNTIVEROS</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-item>
  <ion-button color="success" size="medium">Welcome to Land of My Life</ion-button>
</ion-item>
